*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548554;
     text-align: center;
}



.container {
    height: 70vh;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
   
}
.Game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #767676;
    background-color: burlywood;
    
}
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blueviolet;
    color: #fff;
    border-radius: 1rem;

}
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blueviolet;
    color: #fff;
    border-radius: 1rem;

}
#msg{
    color: burlywood;
    font-size: 6vmin;
}
.msg-container{
    height: 30vmin;
    
}
.hide{
    display: none;
}